<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YT_Music.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YT_Music.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <YT_Music.My.MySettings>
            <setting name="SizeX" serializeAs="String">
                <value />
            </setting>
            <setting name="SizeY" serializeAs="String">
                <value />
            </setting>
            <setting name="ListenAlongEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RpcEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </YT_Music.My.MySettings>
    </userSettings>
    <applicationSettings>
        <YT_Music.My.MySettings>
            <setting name="DiscordAppId" serializeAs="String">
                <value>1475597678342574110</value>
            </setting>
        </YT_Music.My.MySettings>
    </applicationSettings>
</configuration>
